{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div id="container">
  {% if form.errors %}
  <span class="login100-form-title">
          Sizning username yoki parolingizda xato! Iltimos qayta urinib ko'ring!
  </span>
  {% endif %}
  <form method="post" class="login100-form validate-form">{% csrf_token %}
      <span class="login100-form-title">
            Tizimga kirish
      </span>

  <div class="input_wrapper">
    <input type="text" placeholder="Username" />
  </div>
  <div class="input_wrapper">
    <input type="password" id="password_input" placeholder="password" />
  </div>
  <div class="input_wrapper">
    <div id="blt_wrapper">
      <div id="slider_blt"></div>
    </div>
  </div>
  <div id="instruction">
  slide to reveal password
  </div>
   </div>
   </form>
</body>
</html>