{% extends 'news/base.html' %}
{% load static %}

{% block content%}

 <!-- Contact Start -->
    <div class="container-fluid mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Xar qanday so'rov uchun biz bilan bog'laning</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4 mb-3">
                            <h6 class="text-uppercase font-weight-bold">Biz bilan bog'lanish</h6>
                            <form method="post"> {% csrf_token %}
							    <div class="form-row">
                                    <div class="d-flex align-items-center mb-2">
                                        <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                                        <h6 class="font-weight-bold mb-0">Ofis</h6>
                                    </div>
                                    <p class="m-0"> </p>
                                </div>
                                <div class="mb-3">
                                    <div class="d-flex align-items-center mb-2">
                                        <i class="fa fa-envelope-open text-primary mr-2"></i>
                                        <h6 class="font-weight-bold mb-0">Email</h6>
                                    </div>
                                    <p class="m-0"> </p>
                                </div>
                                <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-phone-alt text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Telefon raqam</h6>
                                </div>
                                <p class="m-0"> </p>
                            </div>

                        <h6 class="text-uppercase font-weight-bold mb-3">Biz bilan bog'lanish</h6>
                        <form>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control p-4" placeholder="Ism" name="name" required="required"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control p-4" placeholder="Email" name="email" required="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control p-4" placeholder="Subject" name="subject" required="required"/>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Message" name="message" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;"
                                    type="submit">Xabarni yuborish</button>
                            </div>
                        </form>
                </div>
                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Obuna bo'lishni unutmang!</h4>
                        </div>>
                            <a href="https://www.instagram.com/_mirhayot_" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">Instagram</span>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Newsletter Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                            <div class="input-group mb-2" style="width: 100%;">
                                <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                                <div class="input-group-append">
                                    <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                                </div>
                            </div>
                            <small>Lorem ipsum dolor sit amet elit</small>
                        </div>
                    </div>
                    <!-- Newsletter End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock content%}